.form-text {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 10px;
  transition: border-color ease 0.15s, background-color ease 0.15s;
  width: 90%;
}

.form-text:focus {
  background-color: var(--background-darkest);
  border-color: var(--accent-color);
  outline: none;
}
