a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  line-height: 140%;
}

img {
  max-width: 100%;
}

.table-container {
  overflow-x: auto;
}

table {
  border: 1px solid var(--table-border);
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--table-border);
  padding: 8px 20px;
}

th {
  border-bottom-width: 2px;
}

tbody tr:nth-child(2n + 1) {
  background-color: var(--table-odd-row-background);
}

.notes {
  display: block;
}
