#main-page {
  margin: 0 auto;
  max-width: 770px;
  padding: 20px;
}

h2.main-page,
h3.main-page,
.no-newline {
  display: inline-block;
  margin-right: 15px;
}

#main-page-container {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 81px;
}
