#main-page {
  margin: 0 auto;
  max-width: 770px;
  padding: 20px;
}

h2.main-page,
h3.main-page,
.no-newline {
  display: inline-block;
  margin-right: 15px;
}

#main-page-container {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 81px;
}

#top-bar {
  background-color: var(--background-darker);
  border-bottom: 1px solid var(--border-color);
  height: 80px;
}

.top-bar-tab {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  height: 52px;
  margin-left: -1px;
  padding-top: 28px;
  position: absolute;
  text-align: center;
  transition: color ease 0.15s, border-color ease 0.15s,
    background-color ease 0.15s;
  width: 140px;
}

.top-bar-tab:hover,
.active-top-bar-tab {
  background-color: var(--background-darkest);
  border-color: var(--accent-color);
  color: var(--accent-color);
  z-index: 1;
}

#lessonManager {
  left: 301px;
}

#competenceManager {
  left: 442px;
}

#imageManager {
  left: 583px;
}

#user-manager {
  left: 724px;
}

#group-manager {
  left: 865px;
  padding-bottom: 11px;
  padding-top: 17px;
}

#user-account {
  border-right: 1px solid var(--border-color);
  display: inline-block;
  height: 80px;
  width: var(--nav-width);
}

#user-avatar {
  border: var(--avatar-border);
  border-radius: 50%;
  float: left;
  height: 60px;
  margin: 5px 15px;
  overflow: hidden;
  width: 60px;
}

#user-name {
  padding-top: 12px;
}

#log-link {
  margin-top: 5px;
}

#frontend-link {
  float: right;
  margin-right: 20px;
}

#add-field,
#add-lesson,
#restore-lesson {
  margin-bottom: -19px;
}
