.user-table {
  border: none;
}

.user-table th {
  border: none;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
}

.user-table td {
  border: none;
  padding: 15px 20px;
}

.user-table td + td,
.user-table th + th {
  padding-left: 50px;
}

.user-table tr:nth-child(2n + 1) {
  background-color: #fff;
}
