#userSearchForm {
  margin-bottom: 50px;
  margin-top: 20px;
}

#userSearchBox {
  margin-right: 10px;
  width: 179px;
}

#roleSearchFilter,
#groupSearchFilter {
  margin-right: 10px;
}

.select-filter-special {
  font-style: italic;
}

#user-search-button,
#user-search-cancel {
  margin-bottom: -11px;
}

.user-table {
  border: none;
}

.user-table th {
  border: none;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
}

.user-table td {
  border: none;
  padding: 15px 20px;
}

.user-table td + td,
.user-table th + th {
  padding-left: 50px;
}

.user-table tr:nth-child(2n + 1) {
  background-color: #fff;
}

#role-select {
  margin-bottom: 60px;
}

.role-text {
  font-weight: bold;
}

.role-help,
.group-help {
  margin-top: 20px;
}

.role-help-name {
  font-weight: bold;
}
